 * {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: #55ac99;
	border: 10px solid rgb(207, 219, 31);
	min-height: 10vh;
	font-size: large;
}

.logo img {
	width: 250px;
	height: 100px;
	padding: 1rem;
}

.baner {
	width: 100%;
	height: 250px;
	background-color: #55ac99;
	padding: 1px;
	border: 10px solid rgb(37, 219, 31);

}

.carousel-item {
	padding: 1px;
	height: 90%;
}

.carousel-item img {
	height: 225px;
}

.nav-item a{
	text-decoration: underline;
}


footer {
	height: 10vh;
	padding: 0.3em;
	position: relative;
	bottom: 0;
	background-color: #55ac99;
	border: 5px solid rgb(207, 219, 31);
}
.icon-red-social {
	display: flex;
	margin-bottom: 0px;
}

.icon-red-social li {
	list-style: none;
	padding: 0em 1.5em 0.5em 0.5em;
	margin-top: 0px;
}

.icon-red-social img {
	width: 3rem;
}

.contact_us {
	display: flex;
	justify-content: center;
	align-items: center; 
	width: 90%;
	margin: 2em;
}

.contact_us form {
	padding: 15px;
	margin: auto;

	border: 1px dashed black;
}


/*Events Details*/
.details_events{
	max-height: 42vh;
}
.container_detail {
	display: flex;
	justify-content: space-between;
	align-content: baseline;
	width: 75%;
	height:235px;
	color: #000000;
	margin: 10em;
	padding: 10px;
}

.img_detail {
	height: 190px;
	width: 50%;
}

.img_detail img {
	width: 350px;
}

.txt_detail {
	display: flex;
	flex-direction: column;
	padding: 1px;
}

.txt_detail p {
	margin-top: 5px;
}

.txt_detail p span {
	font-weight: bold;
}



@media (max-width:320) and (max-width:576) {
	.container_detail {
		flex-direction: column;
		justify-content: flex-start;
		margin-right: 550px;
	}

	.img_detail img {
		width: 150px;
		height: 100px;
	}

	.txt_detail {
		margin-top: 5em;
		font-size: 25px;
	}

}
.check_nav{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


.nav-item:hover{
	background-color: #FFF000;
}
.navbar_header {
	display: flex;
	align-items: center;
	color: white;
	align-items: center;
}

.navbar_header a {
	margin: 1rem;
}

.navbar_header a:hover {
	background-color: #FFF000;
	padding: 1px;
	text-align: end;
	border: 1px dashed #000000;
	box-shadow: 10px 15px 0 0;
	color: black;
}

/*-----------------------------------------*/
.container-cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	/* margin-top: 100rem; */
	padding-top: 5em;
}

a>.card {
	width: 35em;
	height: fit-content;
	margin: 2em;
}

.shadowCard {
	color: black;
}

.shadowCard:hover {
	box-shadow: 0px 5px 10px -7px black, 0px -5px 10px -7px black;
}

.card-title {
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
}

a>.card img {
	object-fit: cover;
	height: 140px;
}

.price_btn {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	padding: 1em;
}

/*-----------------------------------------*/
.stats_main {
	display: flex;
	justify-content: center;
	margin: 5rem;
}


@media screen and (max-width:576px) {
	.details_events{
		position: absolute;
		right: -130px;
		top:5px;
	}
	.container_detail {
		flex-direction: column;
		justify-content: flex-start;
		margin-bottom: auto;
	}

	.img_detail img {
		width: 250px;
		height: 200px;
	}

	.txt_detail {
		margin-top: 7em;
		justify-content: flex-end;
		font-size:10px;
	}
	a>.card {
		width: fit-content;
		height: fit-content;
	}
	a>.card img {
		object-fit: 100px;
		height: 100px;
	}
	.header-nav {
		flex-direction: column;
	}

	.header-nav .logo {
		justify-content: center;
		margin: auto;
		margin-top: 10px;

	}

	.header-nav .logo img {
		width: 180px;
		height: 70px;
	}

	.header-nav a {
		font-size: 10px;
	}
	
	.check_nav{
		flex-direction: column;
	}

	.foo-details{
		display: none;
	}
	
}

@media (min-width:577px) and (max-width:768px) {
	.header-nav {
		flex-direction: column;
	}

	.logo {
		margin: auto;
	}

	.container_detail {
		flex-direction: column;
		justify-content: flex-start;
		margin-right: 250px;
	}

	.img_detail img {
		width: 25em;
		height: 20em;
	}

	.txt_detail {
		margin-top: 5em;
		justify-content: flex-end;
		font-size: 25px;
	}

	.tContainer {
		margin-top: 10em;
	}

	.tContainer h2 {
		text-decoration: underline;
	}
	
	.foo-details{
		display: none;
	}

}


 